repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.6
    hooks:
      - id: ruff
        name: ruff check
        args: [--fix, --unsafe-fixes, --config=ruff.toml]
        additional_dependencies: []
  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        name: black code formatter
        args: [--config=pyproject.toml]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        name: mypy type check
        args: [--config-file=pyproject.toml]
